.icon-ris-sitemap {
	background:url('icon-ris-system/icon-sitemap.png') no-repeat center center;
}

.icon-ris-review-manage {
	background: url('icon-ris-system/icon-review-manage.png') no-repeat center center;
}

.icon-ris-target-manage {
	background: url('icon-ris-system/icon-target-manage.png') no-repeat center center;
}

.icon-ris-target-category {
	background: url('icon-ris-system/icon-target-category.png') no-repeat center center;
}

.icon-ris-expert-manage {
	background: url('icon-ris-system/icon-expert-manage.png') no-repeat center center;
}

.icon-ris-info {
	background:url('icon-ris-system/icon-info.png') no-repeat center center;
}

.icon-ris-large-info {
	background:url('icon-ris-system/icon-large-info.png') no-repeat center center;
}

.icon-ris-review {
	background: url('icon-ris-system/icon-review.png') no-repeat center center;
}

.icon-ris-history-review {
	background: url('icon-ris-system/icon-history-review.png') no-repeat center center;
}

.icon-ris-review-theme {
	background: url('icon-ris-system/icon-review-theme.png') no-repeat center center;
}

.icon-ris-category {
	background: url('icon-ris-system/icon-category.png') no-repeat center center;
}

.icon-ris-targets {
	background: url('icon-ris-system/icon-targets.png') no-repeat center center;
}

.icon-ris-large-targets {
	background: url('icon-ris-system/icon-large-targets.png') no-repeat center center;	
}

.icon-ris-experts {
	background: url('icon-ris-system/icon-experts.png') no-repeat center center;
}

.icon-ris-large-experts {
	background: url('icon-ris-system/icon-large-experts.png') no-repeat center center;
}

.icon-ris-objects {
	background: url('icon-ris-system/icon-objects.png') no-repeat center center;
}

.icon-ris-large-objects {
	background: url('icon-ris-system/icon-large-objects.png') no-repeat center center;
}

.icon-ris-category-node {
	background: url('icon-ris-system/icon-category-node.png') no-repeat center center;
}

.icon-ris-statistics {
	background: url('icon-ris-system/icon-statistics.png') no-repeat center center;
}

.icon-ris-large-statistics {
	background: url('icon-ris-system/icon-large-statistics.png') no-repeat center center;
}

.icon-ris-documents {
	background: url('icon-ris-system/icon-documents.png') no-repeat center center;
}

.icon-ris-large-documents {
	background: url('icon-ris-system/icon-large-documents.png') no-repeat center center;
}

.icon-ris-judge {
	background: url('icon-ris-system/icon-judge.png') no-repeat center center;
}

.icon-ris-faq {
	background: url('icon-ris-system/icon-faq.png') no-repeat center center;
}

.icon-ris-comments {
	background: url('icon-ris-system/icon-comments.png') no-repeat center center;
}

.icon-ris-large-comments {
	background: url('icon-ris-system/icon-large-comments.png') no-repeat center center;
}

.icon-ris-comment-edit {
	background: url('icon-ris-system/icon-comment-edit.png') no-repeat center center;
}

.icon-ris-organization {
	background:url('icon-ris-system/icon-organization.png') no-repeat center center;
}

.icon-0 {
	background:url('icon-ris-system/icon-0.png') no-repeat center center;
}

.icon-1 {
	background:url('icon-ris-system/icon-1.png') no-repeat center center;
}

.icon-2 {
	background:url('icon-ris-system/icon-2.png') no-repeat center center;
}

.icon-3 {
	background:url('icon-ris-system/icon-3.png') no-repeat center center;
}

.icon-ris-specialists {
	background:url('icon-ris-system/icon-specialists.png') no-repeat center center;
}

.icon-ris-templates {
	background:url('icon-ris-system/icon-templates.png') no-repeat center center;
}

.icon-ris-start {
	background:url('icon-ris-system/icon-start.png') no-repeat center center;
}

.icon-ris-finish {
	background:url('icon-ris-system/icon-finish.png') no-repeat center center;
}

.icon-ris-lock {
	background:url('icon-ris-system/icon-lock.png') no-repeat center center;
}

.icon-ris-unlock {
	background:url('icon-ris-system/icon-unlock.png') no-repeat center center;
}

.icon-ris-file-import {
	background:url('icon-ris-system/icon-file-import.png') no-repeat center center;
}

.icon-ris-library-import {
	background:url('icon-ris-system/icon-library-import.png') no-repeat center center;
}

.icon-ris-template-import {
	background:url('icon-ris-system/icon-template-import.png') no-repeat center center;
}

.icon-ris-template-save {
	background:url('icon-ris-system/icon-template-save.png') no-repeat center center;
}

.icon-ris-file-export {
	background:url('icon-ris-system/icon-file-export.png') no-repeat center center;
}

